@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
@import url('https://fonts.googleapis.com/css?family=Cabin:500');

/* reset */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

/* page1 styles */

body {
	background-color: #F6EDD8;
}

#page1 {
	height: 900px;
}

/* Navbar */

nav {
	padding-top: 20px;
	text-align: center;
	font-size: 25px;
}

nav a {
	text-decoration: none;
	color: #775114;
	font-family: 'Cabin', sans-serif;
}

nav a:hover {
	color: #A98E62;
}

.left-nav {
	padding: 0 0 0 5px;
}

.mid-nav {
	padding: 0 5px;
}

.right-nav {
	padding: 0 0 5px 0;
}

.bar {
	color: #775114;
}

/* Landing image */
.main-img {
	padding-top: 30px;
	display: block;
    margin: 0 auto;
    height: 451px;
    width: 950px;
}

/* Logo Text effect code snippet by Ibrahim Jabbari -- www.ibrahimjabbari.com */

.plate {
  width: 450px;
  margin: 30px auto;
}
.shadow {
  color: #7B561B;
  font-family: Arvo;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #D8C8AA,
    1px -1px 0 #D8C8AA,
    -1px 1px 0 #D8C8AA,
    1px 1px 0 #D8C8AA,
    2px 2px 0 #D8C8AA,
    3px 3px 0 #D8C8AA,
    4px 4px 0 #D8C8AA,
    5px 5px 0 #D8C8AA;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin:0;
  text-align: center;
}
.script {
  font-family: "Seaweed Script";
  text-align: center;
  font-size: 40px;
  position: relative;
  margin:0;
}
.script span {
  background-color: #F6EDD8;
  padding: 0 0.3em;
  color: #7B561B;
}
.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #7B561B;
}
.text3 {
  font-size: 70px;
}

/* page2 styles*/

#page2 {
	height: 900px;
	background-color: #CCB8A6;
	color: #FDFDFF;
}

#page2 img {
	height: 400px;
	width: 400px;
}

.left-img {
	float: left;
	padding-left: 200px;
	padding-right: 300px;

}

.donut-menu {
	padding-top: 30px;
	font-size: 20px;
	line-height: 40px;
}

h2 {
	font-size: 40px;
}


/* page3 styles */

#page3 {
	height: 900px;
	background-color: #FEF9F7;
}


