@import url(https://fonts.googleapis.com/css?family=Arvo:700);
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
@import url('https://fonts.googleapis.com/css?family=Cabin:400');

/* reset */

* {
	margin: 0;
	padding: 0;
	border: 0;
}



/* landing styles */

body {
	background-color: #F6EDD8;
}

#landing-pg {
	height: 900px;
}

/* Navbar */

nav {
	padding-top: 20px;
	text-align: center;
	font-size: 25px;
  font-family: "Cabin";
}

nav a {
	text-decoration: none;
	color: #775114;
	font-family: 'Cabin', sans-serif;
}

nav a:hover {
	color: #A98E62;
}

.left-nav {
	padding: 0 0 0 5px;
}

.mid-nav {
	padding: 0 5px;
}

.right-nav {
	padding: 0 0 5px 0;
}

.bar {
	color: #775114;
}

/* Landing image */
.main-img {
	padding-top: 30px;
	display: block;
    margin: 0 auto;
    height: 451px;
    width: 950px;
}

/* Logo Text effect code snippet by Ibrahim Jabbari -- www.ibrahimjabbari.com */

.plate {
  width: 450px;
  margin: 30px auto;
}
.shadow {
  color: #7B561B;
  font-family: Arvo;
  font-weight: bold;
  text-shadow:
    -1px -1px 0 #D8C8AA,
    1px -1px 0 #D8C8AA,
    -1px 1px 0 #D8C8AA,
    1px 1px 0 #D8C8AA,
    2px 2px 0 #D8C8AA,
    3px 3px 0 #D8C8AA,
    4px 4px 0 #D8C8AA,
    5px 5px 0 #D8C8AA;
  line-height: 0.8em;
  letter-spacing: 0.1em;
  transform: scaleY(0.7);
  -webkit-transform: scaleY(0.7);
  -moz-transform: scaleY(0.7);
  margin:0;
  text-align: center;
}
.script {
  font-family: "Seaweed Script";
  text-align: center;
  font-size: 40px;
  position: relative;
  margin:0;
}
.script span {
  background-color: #F6EDD8;
  padding: 0 0.3em;
  color: #7B561B;
}
.script:before {
  content:"";
  display: block;
  position: absolute;
  z-index:-1;
  top: 50%;
  width: 100%;
  border-bottom: 3px solid #7B561B;
}

.text3 {
  font-size: 70px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FDFDFF;
    margin: 50px 10% 0 10%;
    padding: 0;
    width: 80%;
}

/* menu-page styles*/

#menu-pg {
	height: 1400px;
	background-color: #CCB8A6;
	color: #FDFDFF;
  font-family: "Cabin";
}

.left-img {
	float: left;
	padding-left: 10%;
	padding-right: 500px;
  height: 400px;
  width: 400px;
}

.donut-menu, .croissant-menu, .drinks-menu {
	padding-top: 45px;
	font-size: 20px;
	line-height: 40px;
}


h2 {
	font-size: 40px;
  padding-bottom: 20px;
}

.croissant-menu {
  margin-top: 20px;
  margin-left: 10%;
}

.right-img {
  float: right;
  margin-right: 10%;
  padding-right: 40px;
  width: 450px;
  height: 300px;
}

.drinks-menu img {
  width: 500px;
  height: 375px;
  margin-top: 30px;
  padding-left: 40px;
  padding-right: 450px;
}


/* about-page styles */

#about-pg {
	height: 1050px;
	background-color: #F8F5E4;
  font-family: "Cabin";
  color: #5B504A;
}

#about-pg img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.about, .info {
  width: 600px;
  font-size: 30px;
  line-height: 40px;
  margin: 0 auto;
}

.adress {
  padding-top: 30px;
}

.info {
  font-size: 15px;
}

/* top-button styles */
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #162A3F; 
    font-family: "Cabin";
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

/* footer styles */
footer {
  text-align: center;
  padding-top: 50px;
  color: #5B504A;
}

a:visited {
  text-decoration: none;
  color: #5B504A;
}



